PORT=3001
DATABASE_URL=postgresql://user_admin:password_admin@localhost:5431/contract?schema=public
JWT_SECRET=1234567890
JWT_EXPIRES_IN=8h
ADMIN_USERNAME=admin321
ADMIN_PASSWORD=admin123
REDIS_HOST=localhost
REDIS_PORT=6380
CONTRACT_SUMMARY_CACHE_TTL_SECONDS=300
RABBITMQ_URL=amqp://guest:guest@localhost:5672
CONTRACT_EXPIRATION_INTERVAL_MS=60000
